<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Compucorp Front End Developer Test</title>
  <meta name="description" content="A simple weather app.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Danilo Morais">

  <link href="lib/bootstrap/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/App-style.css">

</head>
<body ng-app="weatherApp" ng-controller="MainController as main" ng-init="main.getLocation()">
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="inner cover">
          <h1 class="cover-heading">Hello, it's a beautiful day today!</h1>

          <div class="jumbo-block jumbotron">

          	<section id="input-box">
              <div class="container">

                <div class="row">
                  <div class="text-left col-md-12">
                    <label for="city">City</label>
                    <div class="input-group">
                      <input type="text" name="city" class="form-control" ng-model="post.city" placeholder="Choose a city to see the weather">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-border" ng-click="main.getLocationByCity(post.city)" type="button">Go</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container">

                <div class="row">
                  <div class="text-left col-md-12">
                    <label for="postcode">Postcode</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="postcode" ng-model="post.postcode" placeholder="Choose a postcode to see the weather">
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-border" ng-click="main.getLocationByPostcode(post.postcode)" type="button">Go</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

          	</section>

            <section id="wather" class="card">
              <div id="weather-header">
                <p>
                	The weather at time: {{ date | date:'dd.MM.yyyy HH:mm:ss'}}
                </p>
          			<h2>{{ city }} - {{ country }}</h2>
              </div>

              <div id="weather-body">
          			<div class="icon-box">
          				<img src="" alt="" />
          			</div>

          			<div class="degrees">
          				<h1>{{ temp }}°C</h1>
          			</div>

          			<div class="info">
          				<p>Min: {{ temp_min }}°</p>
          				<p>Max: {{ temp_max }}°</p>
          				<p>Humidity: {{ humidity }}%</p>
          				<p>Wind: {{ wind }} m/s</p>
          			</div>
              </div>

          		<div class="footer">
          			<h2>{{ description }}</h2>
          		</div>

            </section>

          </div>

          <p class="lead">
            <a href="https://www.linkedin.com/in/danilo-morais-531a55b8?trk=hp-identity-name" target="_blank" class="btn btn-lg btn-default">Danilo Morais</a>
          </p>
        </div>

      </div>

    </div>

  </div>

  <script src="lib/jquery/jquery.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/js/App-scripts.min.js"></script>

</body>
</html>
