@white: #fff;
@shadow-text: rgba(0,0,0,.5);
@border-color: #cccccc;
@bg-color: #333;

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: @white;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: @bg-color;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: @white;
  border: 1px solid @white;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: @bg-color;
}

body {
  color: @white;
  text-align: center;
  text-shadow: 0 1px 3px @shadow-text;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px @shadow-text;
     -moz-box-shadow: inset 0 0 100px @shadow-text;
          box-shadow: inset 0 0 100px @shadow-text;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: @white; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: @white;
  border-bottom-color: @white;
}

.btn-border {
  border: 1px solid @border-color;
}

.btn-border:hover {
  border: 1px solid @border-color;
}

.jumbo-block {
  background-color: #D1DBBD;
}
